<h2>All articles</h2>

<% if articles.any? %>
  <% articles.each do |article| %>
    <div class="article">
      <h3 class="article__title"><a href="<%= routes.article_path(article.id) %>" rel="permalink"><%= article.title %></a></h3>
      <div clas="article__body">
        <%= article.body %>
      </div>
      <footer class="article__footer">
        <p>Posted on <%= article.created_at %></p>
      </footer>
    </div>
  <% end %>
<% else %>
  <p class="placeholder">There are no articles yet.</p>
<% end %>
