<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lotus example blog</title>
  </head>
  <body>
    <div id="page">
      <h1><a href="<%= routes.root_path %>" rel="home">Lotus example blog</a></h1>
      <%= yield %>
    </div>
  </body>
</html>
